# Xcode
## Build generated
build/
DerivedData/

## Various settings
xcuserdata/
xcshareddata/
	
## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Mac
.DS_Store

# Other
*.xccheckout
*.xcscmblueprint
# Swift Package Manager
SourcePackages
